
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //make the health systems tab "active"
            $("#tabReports").addClass("active");
        });
    </script>
}