    <div class="jumbotron">
        <h1>SmartViewHealth</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim ornare elit pellentesque finibus. Curabitur scelerisque elit id rhoncus imperdiet. Aliquam erat volutpat. Sed vel nisl venenatis, fringilla elit at, dapibus turpis. Aliquam ut mollis leo. Donec imperdiet ac felis eu viverra. Vestibulum id enim imperdiet, venenatis erat convallis, bibendum justo. Nulla vel risus eu augue dapibus convallis sit amet vel turpis. Proin risus lacus, cursus et nulla non, interdum sagittis erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et enim ut ex consequat consequat. Maecenas viverra eget orci a euismod.</p>
        <p>Praesent nec erat libero. Aliquam eu justo ac nisi finibus ullamcorper vitae et risus. Morbi vitae porttitor ligula, nec tempus enim. Ut at augue arcu. Duis pulvinar interdum imperdiet. Fusce ac lorem quis nunc volutpat mollis. Proin vel maximus nulla. Nulla feugiat leo ut libero ultricies, ac luctus ipsum egestas. Nullam vestibulum in lacus sit amet cursus. Vivamus faucibus sapien vitae dolor ullamcorper viverra. Morbi ac lectus a diam efficitur vestibulum. Nunc sit amet venenatis metus. Aliquam ac convallis lacus. Phasellus vel sapien sit amet eros hendrerit iaculis a ac metus. Donec ullamcorper ante ut feugiat rutrum.</p>
        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut commodo mauris sed augue lobortis, gravida consectetur enim tincidunt. Vivamus ultrices sapien ornare, vulputate dui a, ullamcorper mi. Ut viverra nunc felis, in egestas metus ullamcorper ac. Aenean felis velit, pellentesque at enim consectetur, rutrum aliquet justo. Etiam velit felis, tincidunt non pulvinar nec, fermentum non orci. Vivamus bibendum, quam at consectetur faucibus, diam mi iaculis odio, a malesuada nisi urna in ipsum. Phasellus ultricies sit amet tellus at consequat. Maecenas pretium sodales nunc, vitae pretium ligula molestie ac. Maecenas sagittis urna non sodales euismod. Mauris ac dignissim lorem. Aliquam suscipit, tellus sed tempor facilisis, diam velit porta enim, at efficitur ligula arcu ut velit. Etiam blandit purus velit, et rhoncus dui mollis sit amet. Donec interdum consequat accumsan. Proin vitae malesuada purus, ut vulputate lacus.</p>
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@